<br/>
<br/>
<br/>
<div class="col-sm-7 col-sm-offset-1" style="color: maroon">
    <div class="col-sm-offset-4">

        <h1 style="color: maroon">About</h1>
        <ul>
            <a href="https://il.linkedin.com/in/gilad-keinan-4417306">
                <p>Gilad Keinan</p>
                <img src="https://media.licdn.com/media/p/2/005/036/1a9/261b903.jpg" style="width:250px;">
                </img>
            </a>
        </ul>


    </div>

</div>

<script>
    ga('send', 'pageview', '/about.html');
</script>