<br/>
<br/>
<div class="col-sm-8 col-sm-offset-2" style="color: maroon">

    <div>
        <p class="h3">Matches</p>
    </div>
    <br/>
    <table class="table table-striped matches text-nowrap table-condensed" style="color:black;">
        <thead>
        <tr>
            <th>MatchID</th>
            <th>Winner</th>
            <th>Team 1 Score</th>
            <th>Team 2 Score</th>
            <th>Goal Diff</th>
            <th>First To Score</th>
        </tr>
        </thead>
        <tr ng-repeat="(key, x) in matchespredictions">
            <td><label>{{x[0].matchID}}</label></td>
            <td>
                <table class="table table-striped matches text-nowrap table-condensed" style="color:black;">
                    <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="groupedBy in groupByValue(x, '_winner')">
                        <td><label>{{groupedBy.key}}</label></td>
                        <td><label>{{groupedBy.value}}</label></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table table-striped matches text-nowrap table-condensed" style="color:black;">
                    <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="groupedBy in groupByValue(x, '_team1score')">
                        <td><label>{{groupedBy.key}}</label></td>
                        <td><label>{{groupedBy.value}}</label></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table table-striped matches text-nowrap table-condensed" style="color:black;">
                    <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="groupedBy in groupByValue(x, '_team2score')">
                        <td><label>{{groupedBy.key}}</label></td>
                        <td><label>{{groupedBy.value}}</label></td>
                    </tr>
                </table>
                </label></td>
            <td>
                <table class="table table-striped matches text-nowrap table-condensed" style="color:black;">
                    <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                    </thead>

                    <tr ng-repeat="groupedBy in groupByValue(x, '_goaldiff')">
                        <td><label>{{groupedBy.key}}</label></td>
                        <td><label>{{groupedBy.value}}</label></td>
                    </tr>
                </table>
                </label></td>
            <td>
                <table class="table table-striped matches text-nowrap table-condensed" style="color:black;">
                    <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="groupedBy in groupByValue(x, '_firstscore')">
                        <td><label>{{groupedBy.key}}</label></td>
                        <td><label>{{groupedBy.value}}</label></td>
                    </tr>
                </table>
                </label>
            </td>
        </tr>
    </table>

    <br/>
    <br/>
    <div>
        <p class="h3">Teams</p>
    </div>
    <br/>
    <table class="table table-striped matches text-nowrap table-condensed" style="color:black;">
        <thead>
        <tr>
            <th>TeamID</th>
            <th>Team</th>
        </tr>
        </thead>
        <tr ng-repeat="(key, x) in teamspredictions">
            <td><label>{{x[0].teamID}}</label></td>
            <td>
                <table class="table table-striped matches text-nowrap table-condensed" style="color:black;">
                    <thead>
                    <tr>
                        <th>key</th>
                        <th>value</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="groupedBy in groupByValue(x, '_team')">
                        <td><label>{{groupedBy.key}}</label></td>
                        <td><label>{{groupedBy.value}}</label></td>
                    </tr>
                </table>
                </label>
            </td>
        </tr>
    </table>

</div>