<br/>
<br/>
<br/>
<div class="col-sm-7 col-sm-offset-1" style="color: maroon">

    <div class="col-sm-offset-4">
        <div>
            <p class="h1"><b>{{::userName}}</b>'s predictions</p>
            <br/>
            <div style="float: left;">
                <div style="float: left;">
                    <p>Change user: &nbsp;&nbsp;</p>
                </div>
                <div style="float: left;">
                    <select ng-model="userName" class="selectName" ng-change="navigate(userName, 1)">
                        <option ng-repeat="user in users | orderBy: 'username'">{{user.username}}</option>
                    </select>
                </div>
            </div>
            <br/>
        </div>
        <br/>
        <button class="btn-primary btn-sm " ng-click="saveChanges(1);" ng-if="isSameUser()">Save Changes</button>
        <button class="btn-primary btn-sm " ng-click="navigate(userName, 2);" ng-if="!isSameUser()">User's Teams
        </button>
        <button class="btn-primary btn-sm " ng-click="navigate(null, 1);" ng-if="!isSameUser()">My Matches</button>
        <button class="btn-primary btn-sm " ng-click="navigate(null, 2);" ng-if="isSameUser()">My Teams</button>
    </div>
    <p class="h3">Matches</p>
    <br/>
    <table class="table table-striped matches text-nowrap table-condensed" style="color:black;">
        <thead>
        <tr>
            <th>#</th>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Kick Off Time</th>
            <th>Winner</th>
            <th>Team 1 Score</th>
            <th>Team 2 Score</th>
            <th>Goal Diff</th>
            <th>First To Score</th>
            <th>Points Collected</th>
            <th>More Info</th>
        </tr>
        </thead>
        <tr ng-repeat="x in matchespredictions | orderBy : 'matchID'">
            <td class="clickableTd" ng-click="redirectSim(x.matchID, 1);">
                <label>{{ ::x.matchID }}</label>
            </td>
            <td class="clickableTd" ng-click="redirectSim(x.matchID, 1);">
                <img ng-src="{{ matches[x.matchID - 1].team1.length > 4 && 'img/'+ matches[x.matchID - 1].team1 +'.png' || 'img/question.png'}}">
                <label>{{ ::matches[x.matchID - 1].team1 }}</label>
            </td>
            <td class="clickableTd" ng-click="redirectSim(x.matchID, 1);">
                <img ng-src="{{ matches[x.matchID - 1].team2.length > 4 && 'img/' + matches[x.matchID - 1].team2+'.png' || 'img/question.png'}}">
                <label>{{ ::matches[x.matchID - 1].team2 }}</label>

            <td class="clickableTd" ng-click="redirectSim(x.matchID);">
                <label ng-bind="formatDate(matches[x.matchID - 1].kickofftime) |  date:'dd.MM.yyyy HH:mm'"></label>
            </td>
            <td>
                <!-- user values (_winner) -->
                <div ng-if="isDateOK(matches[x.matchID - 1].kickofftime) && isSameUser() && !isAdmin()">
                    <select ng-model="x._winner" class="selectName"
                            ng-init="x._winner = x._winner || 'Draw'">
                        <option>{{ ::matches[x.matchID - 1].team1 }}</option>
                        <option>{{ ::matches[x.matchID - 1].team2 }}</option>
                        <option>Draw</option>
                    </select>
                    <br/>
                </div>
                <div ng-if="isDateOKNOT(matches[x.matchID - 1].kickofftime ) || isAdmin()">
                    <label ng-class="getClass(x._winner, matches[x.matchID - 1].winner )">{{x._winner}}</label>
                    <br/>
                </div>
                <!-- original values (winner)-->
                <div>
                    <label>{{ ::matches[x.matchID - 1].winner || ''}}</label>
                    <br/>
                </div>
                <div ng-if="isSameUser() && isAdmin()">
                    <select ng-model="x._winner" class="selectName">
                        <option></option>
                        <option>{{ ::matches[x.matchID - 1].team1 }}</option>
                        <option>{{ ::matches[x.matchID - 1].team2 }}</option>
                        <option>Draw</option>
                    </select>
                </div>
            </td>
            <td>
                <!-- user values (_team1score)-->
                <div ng-if="isDateOK(matches[x.matchID - 1].kickofftime ) && isSameUser() && !isAdmin()">
                    <select ng-model="x._team1score" class="select"
                            ng-init="x._team1score = x._team1score || '0'">
                        <option>0</option>
                        <option ng-repeat="i in getNumber(15) track by $index">{{$index+1}}</option>
                    </select>
                    <br/>
                </div>
                <div ng-if="isDateOKNOT(matches[x.matchID - 1].kickofftime ) || isAdmin()">
                    <label ng-class="getClass(x._team1score, matches[x.matchID - 1].team1score)">{{::x._team1score}}</label>
                    <br/>
                </div>
                <!-- original values (team1score) -->
                <div>
                    <label>{{::matches[x.matchID - 1].team1score || ''}}</label>
                    <br/>
                </div>

                <div ng-if="isSameUser() && isAdmin()">
                    <select ng-model="x._team1score" class="select">
                        <option></option>
                        <option>0</option>
                        <option ng-repeat="i in getNumber(15) track by $index">{{$index+1}}</option>
                    </select>
                </div>
            </td>
            <td>
                <!-- user values (_team2score) -->
                <div ng-if="isDateOK(matches[x.matchID - 1].kickofftime) && isSameUser() && !isAdmin()">
                    <select ng-model="x._team2score" class="select"
                            ng-init="x._team2score = x._team2score || '0'">
                        <option>0</option>
                        <option ng-repeat="i in getNumber(15) track by $index">{{$index+1}}</option>
                    </select>
                    <br/>
                </div>
                <div ng-if="isDateOKNOT(matches[x.matchID - 1].kickofftime) || isAdmin()">
                    <label ng-class="getClass(x._team2score, matches[x.matchID - 1].team2score)">{{::x._team2score}}</label>
                    <br/>
                </div>

                <!-- original values (team2score) -->
                <div>
                    <label>{{ ::matches[x.matchID - 1].team2score || ''}}</label>
                    <br/>
                </div>
                <div ng-if="isSameUser() && isAdmin()">
                    <select ng-model="x._team2score" class="select">
                        <option></option>
                        <option>0</option>
                        <option ng-repeat="i in getNumber(15) track by $index">{{$index+1}}</option>
                    </select>
                </div>

            <td>
                <!-- user values (_goaldiff) -->
                <div ng-if="isDateOK(matches[x.matchID - 1].kickofftime) && isSameUser() && !isAdmin()">
                    <select ng-model="x._goaldiff" class="select"
                            ng-init="x._goaldiff = x._goaldiff || '0'">
                        <option>0</option>
                        <option ng-repeat="i in getNumber(15) track by $index">{{$index+1}}</option>
                    </select>
                    <br/>
                </div>
                <div ng-if="isDateOKNOT(matches[x.matchID - 1].kickofftime) || isAdmin()">
                    <label ng-class="getClass(x._goaldiff, matches[x.matchID - 1].goaldiff)">{{::x._goaldiff}}</label>
                    <br/>
                </div>

                <!-- original values (goaldiff) -->
                <div>
                    <label>{{ ::matches[x.matchID - 1].goaldiff || ''}}</label>
                    <br/>
                </div>
                <div ng-if="isSameUser() && isAdmin()">
                    <select ng-model="x._goaldiff" class="select">
                        <option></option>
                        <option>0</option>
                        <option ng-repeat="i in getNumber(15) track by $index">{{$index+1}}</option>
                    </select>
                </div>

            <td>
                <!-- user values (_firstscore) -->
                <div ng-if="isDateOK(matches[x.matchID - 1].kickofftime) && isSameUser() && !isAdmin()">
                    <select ng-model="x._firstscore" class="selectName"
                            ng-init="x._firstscore = x._firstscore || 'None'">
                        <option>{{ ::matches[x.matchID - 1].team1 }}</option>
                        <option>{{ ::matches[x.matchID - 1].team2 }}</option>
                        <option>None</option>
                    </select>
                    <br/>
                </div>
                <div ng-if="isDateOKNOT(matches[x.matchID - 1].kickofftime) || isAdmin()">
                    <label ng-class="getClass(x._firstscore, matches[x.matchID - 1].firstscore)">{{::x._firstscore}}</label>
                    <br/>
                </div>

                <!-- original values (firstscore) -->
                <div>
                    <label>{{::matches[x.matchID - 1].firstscore || ''}}</label>
                    <br/>
                </div>
                <div ng-if="isSameUser() && isAdmin()">
                    <select ng-model="x._firstscore" class="selectName">
                        <option></option>
                        <option>{{ ::matches[x.matchID - 1].team1 }}</option>
                        <option>{{ ::matches[x.matchID - 1].team2 }}</option>
                        <option>None</option>
                    </select>
                </div>
            </td>
            <td>
                <label>{{ ::x.score || 0}}</label>
            </td>
            <td>
                <a ng-href="http://www.oddschecker.com/football/euro-2016/{{betName(matches[x.matchID - 1].team1)}}-v-{{betName(matches[x.matchID - 1].team2)}}/correct-score">Check
                    online betting</a>
            </td>
        </tr>
    </table>
</div>

<script>
    ga('send', 'pageview', '/game.html');
</script>