<br/>
<br/>
<br/>
<br/>
<br/>

<div class="col-sm-6 col-sm-offset-2" style="color: white">

    <button class="btn-success btn-lg col-sm-offset-6">Save Changes</button>

    <h1>Matches</h1>
    <br/>

    <table class="table">
        <thead style="color: greenyellow">
        <tr>
            <th class="col-sm-2">#</th>
            <th class="col-sm-2">Team 1</th>
            <th class="col-sm-2">Team 2</th>
            <th class="col-sm-2">Kick Off Time</th>
            <th class="col-sm-2">Winner</th>
            <th class="col-sm-2">Team 1 Score</th>
            <th class="col-sm-2">Team 2 Score</th>
            <th class="col-sm-2">Goal Diff</th>
            <th class="col-sm-2">First To Score</th>
            <th class="col-sm-2">Points Collected</th>
        </tr>
        </thead>
        <tr ng-repeat="x in matchesCombined">
            <td>{{ x.matchID }}</td>
            <td>{{ x.team1 }}</td>
            <td>{{ x.team2 }}</td>
            <td>{{ x.kickofftime }}</td>
            <td>
                <select ng-model="x._winner" style="color: blue">
                    <option value="option-1">{{ x.team1 }}</option>
                    <option value="option-2">{{ x.team2 }}</option>
                </select>
                <br/>Actual: {{x.winner}}
            </td>
            <td>
                <input type="number" ng-model="x._team1score" style="color: blue">
                <br/>Actual: {{x.team1score}}
            </td>
            <td>
                <input type="number" ng-model="x._team2score" style="color: blue">
                <br/>Actual: {{x.team2score}}
            <td>
                <input type="number" ng-model="x._goaldiff" style="color: blue">
                <br/>Actual: {{x.goaldiff}}
            <td>
                <select ng-model="x._firstscore" style="color: blue">
                    <option value="option-1">{{ x.team1 }}</option>
                    <option value="option-2">{{ x.team2 }}</option>
                </select>
                <br/>Actual: {{x.firstscore}}
            </td>
            <td>{{ x.score || 0}}</td>
        </tr>
    </table>
    <br/>

    <h1>Teams</h1>
    <br/>
    <table class="table">
        <thead style="color: greenyellow">
        <tr>
            <th class="col-sm-2">#</th>
            <th class="col-sm-2">Type</th>
            <th class="col-sm-2">Team</th>
            <th class="col-sm-2">Deadline</th>
            <th class="col-sm-2">Prediction Points</th>
            <th class="col-sm-2">Points Collected</th>
        </tr>
        </thead>
        <tr ng-repeat="x in teamsCombined">
            <td>{{ x.teamID }}</td>
            <td>{{ x.name }}</td>
            <td>
                <select ng-model="x._team" style="color: blue">
                    <option value="option-1">Team 1</option>
                    <option value="option-2">Team 2</option>
                </select>
                <br/>Actual: {{x.team}}
            </td>
            <td>{{ x.deadline }}</td>
            <td>{{ x.predictscore }}</td>
            <td>{{ x.score || 0 }}</td>
        </tr>
    </table>
</div>