<br/>
<br/>
<br/>
<br/>
<br/>

<div class="col-sm-6 col-sm-offset-2" style="color: blue">

    <button class="btn-primary btn-lg col-sm-offset-6" ng-click="saveChanges();" ng-show="isSameUser()">Save Changes</button>
    <h1>User {{userName}} predictions</h1>

    <h3>Matches</h3>
    <br/>

    <table class="table table-striped matches" style="color:black">
        <thead style="color: grey">
        <tr>
            <th class="col-sm-2">#</th>
            <th class="col-sm-2">Team 1</th>
            <th class="col-sm-2">Team 2</th>
            <th class="col-sm-2">Kick Off Time</th>
            <th class="col-sm-2">Winner</th>
            <th class="col-sm-1">Team 1 Score</th>
            <th class="col-sm-1">Team 2 Score</th>
            <th class="col-sm-1">Goal Diff</th>
            <th class="col-sm-2">First To Score</th>
            <th class="col-sm-1">Points Collected</th>
        </tr>
        </thead>
        <tr ng-repeat="x in matchesCombined">
            <td><label>{{ x.matchID }}</label></td>
            <td><label>{{ x.team1 }}</label></td>
            <td><label>{{ x.team2 }}</label></td>
            <td><label ng-bind="formatDate(x.kickofftime) |  date:'dd.MM.yyyy HH:mm'"></label></td>
            <td>
                <!-- user values -->
                <select ng-model="x._winner" style="color:blue; width: 150px; height: 25px"
                        ng-show="isDateOK(x.kickofftime) && isSameUser()">
                    <option>{{ x.team1 }}</option>
                    <option>{{ x.team2 }}</option>
                </select>
                <label ng-show="isDateOKNOT(x.kickofftime);"
                       ng-class="getClass(x._winner, x.winner)">{{x._winner}}</label>
                <!-- original values -->
                <br/><label ng-show="isDateOKNOT(x.kickofftime);">{{x.winner || ''}}</label>
                <select ng-model="x.winner" style="color:blue; width: 150px; height: 25px"
                        ng-show="isAdmin()">
                    <option>{{ x.team1 }}</option>
                    <option>{{ x.team2 }}</option>
                </select>
            </td>
            <td>
                <!-- user values -->
                <input type="number" ng-model="x._team1score" style="color: blue" ng-show="isDateOK(x.kickofftime) && isSameUser()">
                <label ng-show="isDateOKNOT(x.kickofftime);" ng-class="getClass(x._team1score, x.team1score)">{{x._team1score}}</label>
                <!-- original values -->
                <br/><label>{{x.team1score || ''}}</label>
                <input type="number" ng-model="x.team1score" style="color: blue" ng-show="isAdmin()">
            </td>
            <td>
                <!-- user values -->
                <input type="number" ng-model="x._team2score" style="color: blue" ng-show="isDateOK(x.kickofftime) && isSameUser()">
                <label ng-show="isDateOKNOT(x.kickofftime);" ng-class="getClass(x._team2score, x.team2score)">{{x._team2score}}</label>
                <!-- original values -->
                <br/><label>{{x.team2score || ''}}</label>
                <input type="number" ng-model="x.team2score" style="color: blue" ng-show="isAdmin()">
            <td>
                <!-- user values -->
                <input type="number" ng-model="x._goaldiff" style="color: blue" ng-show="isDateOK(x.kickofftime) && isSameUser()">
                <label ng-show="isDateOKNOT(x.kickofftime);" ng-class="getClass(x._goaldiff, x.goaldiff)">{{x._goaldiff}}</label>
                <!-- original values -->
                <br/><label>{{x.goaldiff || ''}}</label>
                <input type="number" ng-model="x.goaldiff" style="color: blue" ng-show="isAdmin()">
            <td>
                <!-- user values -->
                <select ng-model="x._firstscore" style="color: blue; width: 150px; height: 25px"
                        ng-show="isDateOK(x.kickofftime) && isSameUser()">
                    <option>{{ x.team1 }}</option>
                    <option>{{ x.team2 }}</option>
                </select>
                <label ng-show="isDateOKNOT(x.kickofftime);" ng-class="getClass(x._firstscore, x.firstscore)">{{x._firstscore}}</label>
                <!-- original values -->
                <br/><label>{{x.firstscore || ''}}</label>
                <select ng-model="x.firstscore" style="color: blue; width: 150px; height: 25px"
                        ng-show="isAdmin()">
                    <option>{{ x.team1 }}</option>
                    <option>{{ x.team2 }}</option>
                </select>
            </td>
            <td><label>{{ x.score || 0}}</label></td>
        </tr>
    </table>
    <br/>

    <h3>Teams</h3>
    <br/>
    <table class="table table-striped teams" style="color:black">
        <thead style="color: grey">
        <tr>
            <th class="col-sm-1">#</th>
            <th class="col-sm-1">Type</th>
            <th class="col-sm-2">Deadline</th>
            <th class="col-sm-2">Team</th>
            <th class="col-sm-1">Prediction Points</th>
            <th class="col-sm-1">Points Collected</th>
        </tr>
        </thead>
        <tr ng-repeat="x in teamsCombined">
            <td><label>{{ x.teamID }}</label></td>
            <td><label>{{ x.name }}</label></td>
            <td><label ng-bind="formatDate(x.deadline) |  date:'dd.MM.yyyy HH:mm'"></label></td>
            <td>
                <!-- user values -->
                <select ng-model="x._team" style="color:blue; width: 150px; height: 25px"
                        ng-show="isDateOK(x.deadline) && isSameUser()">
                    <option ng-repeat="team in allTeams">{{team}}</option>
                </select>
                <label ng-show="isDateOKNOT(x.deadline);" ng-class="getClass(x._team, x.team)">{{x._team}}</label>
                <!-- original values -->
                <br/><label ng-show="isDateOKNOT(x.deadline);">{{x.team || ''}}</label>
                <select ng-model="x.team" style="color:blue; width: 150px; height: 25px"
                        ng-show="isAdmin()">
                    <option ng-repeat="team in allTeams">{{team}}</option>
                </select>
            </td>
            <td><label>{{ x.predictscore }}</label></td>
            <td><label>{{ x.score || 0 }}</label></td>
        </tr>
    </table>
</div>