<br/>
<br/>
<br/>
<div class="col-sm-7" style="color: maroon">
    <div class="col-sm-offset-4">

        <h1 style="color: maroon">Help</h1>

        <h2 style="color: maroon">Match Predictions</h2>
        <ul>
            <li>Every match contains 5 parameters, each successful prediction is 2 points</li>
            <ul>
                <li>Who will win?</li>
                <li>How many goals team 1 will score?</li>
                <li>How many goals team 2 will score?</li>
                <li>How many goal difference will be at full time?</li>
                <li>Who will score first?</li>
            </ul>
            <li>Submit prediction until one hour before kick off time</li>
        </ul>

        <h2 style="color: maroon">Team Predictions</h2>
        <ul>
            <li>Every prediction has different credit according to the type</li>
            <ul>
                <li>Champion is 16 points</li>
                <li>Runner up is 8 points</li>
                <li>Each group winner or runner up is 4 points</li>
                <li>Each 3rd place is 4 points</li>
            </ul>
            <li>Submit prediction until one hour before deadline time</li>
        </ul>

        <h2 style="color: maroon">Links</h2>
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/UEFA_Euro_2016">UEFA Euro 2016 Wikipedia</a></li>
            <li><a href="http://www.uefa.com/uefaeuro/index.html">UEFA Euro 2016 Official site</a></li>
        </ul>
    </div>

</div>

<script>
    ga('send', 'pageview', '/help.html');
</script>