<br/>
<br/>
<br/>
<br/>
<br/>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="color:black; font-size: 20px">
        <h1 style="color:blue">Help</h1>

        <h2>General</h2>
        <ul>
            <li>#1 collect 60% from the prize</li>
            <li>#2 collect 30% from the prize</li>
            <li>#3 collect 10%(-prize for last place) from the prize</li>
            <li>Last place will collect his prize back</li>
        </ul>

        <h2>Match Predictions</h2>
        <ul>
            <li>Every prediction is 2 points</li>
            <li>Submit prediction until one hour before kick off time</li>
        </ul>

        <h2>Team Predictions</h2>
        <ul>
            <li>Every prediction has different credit: 16, 8, 4</li>
            <li>Submit prediction until one hour before kick off time</li>
        </ul>
    </div>
</div>