<br/>
<br/>
<br/>
<br/>
<br/>
<div class="col-sm-6 col-sm-offset-3">

<table class="table table-striped leaderboard" style="color:black">
    <thead>
    <tr>
        <th class="col-sm-1">Position</th>
        <th class="col-sm-3">User Name</th>
        <th class="col-sm-1">Score</th>
    </tr>
    </thead>
    <tr ng-repeat="x in users" ng-click="redirect(x);" >
        <td><label>{{$index+1}}</label></td>
        <td><label>{{ x.username }}</label></td>
        <td><label>{{ x.score }}</label></td>
    </tr>
</table>

</div>