<br/>
<br/>
<br/>
<div class="col-sm-7 col-sm-offset-1" style="color: maroon">
    <div class="col-sm-offset-4">
        <p class="h1">Leaderboard</p>
        <p class="h3">Click on any row to see user's predictions</p>
        <button class="btn-primary btn-sm " ng-click="changeOrderBy();">Order By Strikes/Score</button>
    </div>

    <table class="table table-striped clickable" style="color:black">
        <thead>
        <tr>
            <th class="col-sm-1">Position</th>
            <th class="col-sm-2">User Name</th>
            <th class="col-sm-1">Score</th>
            <th class="col-sm-1">Strikes</th>
        </tr>
        </thead>
        <tr ng-repeat="x in users | orderBy :orderBy" ng-click="redirect(x);">
            <td>
                <label>{{::x.place}}</label>
                <label ng-class="getClassByPosition(x.lastplace, x.place)"
                       ng-init="x.change = getPositionStr(x.lastplace, x.place)">{{ ::x.change}}</label>
            </td>
            <td>
                <img style="width: 24px;height: 24px;"
                     ng-show="x.place === 1 || x.place === 2 || x.place === 3 "
                     ng-src="{{x.place === 1 && 'img/Champion.png' || x.place === 2 && 'img/second.png' || x.place === 3 && 'img/third.png' || null }}"/>
                <label>{{ ::x.username }}</label>
            </td>
            <td><label>{{ ::x.score }}</label></td>
            <td><label>{{ ::x.strikes }}</label></td>
        </tr>
    </table>
</div>

<script>
    ga('send', 'pageview', '/leaderboard.html');
</script>