<br/>
<br/>
<br/>
<br/>
<br/>
<div class="row" style="color: maroon">
    <div class="col-sm-8 col-sm-offset-3 ">
        <h1>Want to beat your friends in football prediction game?</h1>
        <h5>Try a demo<br/>
            <li>User Name: demo</li>
            <li>Password: demo</li>
        </h5>
    </div>

    <div class="col-sm-6 col-sm-offset-3 appname-standard-border appname-form" style="border-radius: 25px;">
        <form>
            <h1 class="text-center">Sign In</h1>
            <br/>

            <div class="form-group">
                <label for="exampleInputUserName1">User Name</label>
                <input class="form-control" id="exampleInputUserName1" placeholder="User Name"
                       ng-model="username"/>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
                       ng-model="password"/>
            </div>
            <div class="row text-center">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary" ng-click="login()">Submit</button>
                    <a style="margin-left: 15px;" href="#/signup">Need an account?</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    ga('send', 'pageview', '/login.html');
</script>