<br/>
<br/>
<div class="col-sm-8 col-sm-offset-2" style="color: maroon">

    <div class="col-sm-offset-4">
        <p class="h1">User <b>{{userName}}</b> predictions</p>
        <button class="btn-primary btn-sm " ng-click="navigate(userName, 1);" ng-show="!isSameUser()">See User's
            Matches
        </button>
        <button class="btn-primary btn-sm " ng-click="navigate(null, 2);" ng-show="!isSameUser()">See my Teams</button>
        <button class="btn-primary btn-sm" ng-click="saveChanges();" ng-show="isSameUser()">Save Changes</button>
        <button class="btn-primary btn-sm " ng-click="navigate(null, 1);" ng-show="isSameUser()">See my Matches</button>
    </div>

    <p class="h3">Teams</p>
    <br/>

    <table class="table table-striped teams table-condensed" style="color:black">
        <thead>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>Deadline</th>
            <th>Team</th>
            <th>Prediction Points</th>
            <th>Points Collected</th>
        </tr>
        </thead>
        <tr ng-repeat="x in teamsCombined">
            <td><label>{{ x.teamID }}</label></td>
            <td><img alt="{{x.name}} logo" style="width: 24px;height: 24px;"
                     ng-src="{{x.name === 'Champion' && 'img/gold.png' || x.name === 'Runner up' && 'img/silver.png' || 'img/bronze.png'}}">
                <label>{{ x.name }}</label></td>
            <td><label ng-bind="formatDate(x.deadline) |  date:'dd.MM.yyyy HH:mm'"></label></td>
            <td>
                <!-- user values -->
                <select ng-model="x._team" class="select"
                        ng-show="isDateOK(x.deadline) && isSameUser() && !isAdmin()">
                    <option ng-repeat="team in filterByType(x.name)">{{team}}</option>
                </select>
                <br/>
                <label ng-show="isDateOKNOT(x.deadline) || isAdmin()"
                       ng-class="getClass(x._team, x.team)">{{x._team}}</label>
                <br/>
                <!-- original values -->
                <label>{{x.team || ''}}</label>
                <br/>
                <select ng-model="x.team" class="select"
                        ng-show="isAdmin()">
                    <option ng-repeat="team in filterByType(x.name)">{{team}}</option>
                </select>
            </td>
            <td><label>{{ x.predictscore }}</label></td>
            <td><label>{{ x.score || 0 }}</label></td>
        </tr>
    </table>
</div>