<br/>
<br/>
<br/>
<div class="col-sm-7" style="color: maroon">

    <div class="col-sm-offset-4">
        <div>
            <p class="h1"><b>{{ ::userName}}</b>'s predictions</p>
            <br/>
            <div style="float: left;">
                <div style="float: left;">
                    <p>Change user: &nbsp;&nbsp;</p>
                </div>
                <div style="float: left;">
                    <select ng-model="userName" class="selectName" ng-change="navigate(userName, 2)">
                        <option ng-repeat="user in users | orderBy: 'username'">{{user.username}}</option>
                    </select>
                </div>
            </div>
            <br/>
        </div>
        <br/>
        <button class="btn-primary btn-sm" ng-click="saveChanges(2);" ng-if="isSameUser()">Save Changes</button>
        <button class="btn-primary btn-sm " ng-click="navigate(userName, 1);" ng-if="!isSameUser()">User's Matches
        </button>
        <button class="btn-primary btn-sm " ng-click="navigate(null, 1);" ng-if="isSameUser()">My Matches</button>
        <button class="btn-primary btn-sm " ng-click="navigate(null, 2);" ng-if="!isSameUser()">My Teams</button>
    </div>

    <p class="h3">Teams</p>
    <br/>

    <table class="table table-striped teams table-condensed" style="color:black">
        <thead>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>Description</th>
            <th>Deadline</th>
            <th>Team</th>
            <th>Prediction Points</th>
            <th>Points Collected</th>
            <th>More Info</th>
        </tr>
        </thead>
        <tr ng-repeat="x in teamspredictions | orderBy : 'teamID'">
            <td class="clickableTd" ng-click="redirectSim(x.teamID, 2);">
                <label>{{ ::x.teamID }}</label>
            </td>
            <td class="clickableTd" ng-click="redirectSim(x.teamID, 2);">
                <img style="width: 24px;height: 24px;"
                     ng-src="{{ teams[x.teamID - 1].name === 'Champion' && 'img/gold.png' || teams[x.teamID - 1].name === 'Runner up' && 'img/silver.png' || 'img/bronze.png'}}">
                <label>{{ ::teams[x.teamID - 1].name }}</label>
            </td>
            <td class="clickableTd" ng-click="redirectSim(x.teamID, 2);">
                <label>{{ ::teams[x.teamID - 1].desc }}</label>
            </td>
            <td class="clickableTd" ng-click="redirectSim(x.teamID, 2);">
                <label ng-bind="formatDate(teams[x.teamID - 1].deadline) |  date:'dd.MM.yyyy HH:mm'"></label>
            </td>
            <td>
                <!-- user values -->
                <div ng-if="isDateOK(teams[x.teamID - 1].deadline) && isSameUser() && !isAdmin()">
                    <select ng-model="x._team" class="selectName">
                        <option ng-repeat="team in filterByType(teams[x.teamID - 1].name)">{{::team}}</option>
                    </select>
                    <br/>
                </div>
                <div ng-if="isDateOKNOT(teams[x.teamID - 1].deadline) || isAdmin()">
                    <label ng-class="getClass(x._team, teams[x.teamID - 1].team)">{{::x._team}}</label>
                    <br/>
                </div>

                <!-- original values -->
                <div>
                    <label>{{ ::teams[x.teamID - 1].team || ''}}</label>
                    <br/>
                </div>
                <div ng-if="isSameUser() && isAdmin()">
                    <select ng-model="x._team" class="selectName">
                        <option></option>
                        <option ng-repeat="team in filterByType(teams[x.teamID - 1].name)">{{ ::team}}</option>
                    </select>
                </div>
            </td>
            <td>
                <label>{{ ::teams[x.teamID - 1].predictscore }}</label>
            </td>
            <td>
                <label>{{ ::x.score || 0 }}</label>
            </td>
            <td>
                <a ng-href="{{teams[x.teamID - 1].name === 'Champion' &&  'http://www.oddschecker.com/football/euro-2016/winner' ||
                              teams[x.teamID - 1].name === 'Runner up' && 'http://www.oddschecker.com/football/euro-2016/winner' || 'http://www.oddschecker.com/football/euro-2016/to-qualify'
                }}">
                    Check Online Bets
                </a>
            </td>
        </tr>
    </table>
</div>

<script>
    ga('send', 'pageview', '/teams.html');
</script>